In [1]:
import numpy as np
import pandas as pd 
from pandas import Series,DataFrame
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline 
from sklearn import preprocessing

In [2]:
data= pd.read_csv('C:/Users/User/Downloads/GWS_data_p.csv')

In [3]:
# Showing the first five rows of train data set 
data.head()

,Type_of_well,Well_Depth,Lattitude,Longitude,pH,pH (Interpolation),Eh,Eh (Regression),Eh (Interpolation),Cond,...,Si,SiO2,Sr,Zn,Cd,Cr,Cu,Mo,Ni,Pb
0,Shallow,24.242424,23.517444,90.864167,6.72,NaN,-96.0,NaN,NaN,1416.0,...,12.5134,26.769917,0.245420,49.1848,0.0,13.6364,3.7270,0.0,3.4724,0.0000
1,Deep,181.818182,23.543861,90.839027,6.74,NaN,-33.0,NaN,NaN,465.0,...,26.2947,56.252252,0.160439,79.1081,0.0,0.0000,4.2555,0.0,2.7421,0.0000
2,Deep,242.424242,23.528250,90.829556,6.73,NaN,-19.0,NaN,NaN,496.0,...,29.2443,62.562331,0.221085,51.7614,0.0,0.0000,3.3989,0.0,0.0000,0.0000
3,Deep,303.030303,23.525610,90.845861,6.72,NaN,-25.0,NaN,NaN,761.0,...,23.5847,50.454749,0.376509,43.7514,0.0,1.2759,154.3860,0.0,0.0000,4.3982
4,Shallow,84.848485,23.543278,90.786805,6.72,NaN,17.0,NaN,NaN,1261.0,...,14.1276,30.223175,0.676160,69.2219,0.0,1.7589,3.1335,0.0,6.0100,0.0000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 43 columns):
Type_of_well          160 non-null object
Well_Depth            160 non-null float64
Lattitude             160 non-null float64
Longitude             160 non-null float64
pH                    156 non-null float64
pH (Interpolation)    4 non-null float64
Eh                    125 non-null float64
Eh (Regression)       35 non-null float64
Eh (Interpolation)    35 non-null float64
Cond                  160 non-null float64
Temp                  160 non-null float64
DO                    125 non-null float64
DOC                   160 non-null float64
HCO3                  160 non-null float64
Cl                    160 non-null float64
NO3                   160 non-null float64
SO4                   160 non-null float64
PO4                   160 non-null float64
NH4                   160 non-null float64
Al                    160 non-null float64
As                    160 non-null float64
B                     77 non-null float64
B (Regression)        83 non-null float64
B (Interpolation)     83 non-null float64
Ba                    160 non-null float64
Ca                    160 non-null float64
Fe                    160 non-null float64
K                     160 non-null float64
Mg                    160 non-null float64
Mn                    160 non-null float64
Na                    160 non-null float64
P                     160 non-null float64
S                     160 non-null float64
Si                    160 non-null float64
SiO2                  160 non-null float64
Sr                    160 non-null float64
Zn                    160 non-null float64
Cd                    160 non-null float64
Cr                    160 non-null float64
Cu                    160 non-null float64
Mo                    160 non-null float64
Ni                    160 non-null float64
Pb                    160 non-null float64
dtypes: float64(42), object(1)
memory usage: 53.9+ KB

In [5]:
data.isnull().sum()

Type_of_well            0
Well_Depth              0
Lattitude               0
Longitude               0
pH                      4
pH (Interpolation)    156
Eh                     35
Eh (Regression)       125
Eh (Interpolation)    125
Cond                    0
Temp                    0
DO                     35
DOC                     0
HCO3                    0
Cl                      0
NO3                     0
SO4                     0
PO4                     0
NH4                     0
Al                      0
As                      0
B                      83
B (Regression)         77
B (Interpolation)      77
Ba                      0
Ca                      0
Fe                      0
K                       0
Mg                      0
Mn                      0
Na                      0
P                       0
S                       0
Si                      0
SiO2                    0
Sr                      0
Zn                      0
Cd                      0
Cr                      0
Cu                      0
Mo                      0
Ni                      0
Pb                      0
dtype: int64

In [6]:

from sklearn.impute import SimpleImputer
data= data.iloc[:,:-1].values
data

array([['Shallow', 24.24242424, 23.517444, ..., 3.727, 0.0, 3.4724],
       ['Deep', 181.81818180000002, 23.543861, ..., 4.2555, 0.0, 2.7421],
       ['Deep', 242.42424240000003, 23.52825, ..., 3.3989, 0.0, 0.0],
       ...,
       ['Deep', 181.81818180000002, 23.46641, ..., 4.85229, 0.0, 0.0],
       ['Deep', 303.030303, 23.40411, ..., 6.3611699999999995, 0.0,
        4.486605],
       ['Shallow', 24.24242424, 23.38428, ..., 4.90032, 0.0, 3.11269]],
      dtype=object)

In [7]:
imputer = SimpleImputer(missing_values = np.nan,  
                        strategy ='mean') 

imputer = imputer.fit(data[1:,1:43])
data[1:,1:43] = imputer.transform(data[1:,1:43])
print(data)

[['Shallow' 24.24242424 23.517444 ... 3.727 0.0 3.4724]
 ['Deep' 181.81818180000002 23.543861 ... 4.2555 0.0 2.7421]
 ['Deep' 242.42424240000003 23.52825 ... 3.3989 0.0 0.0]
 ...
 ['Deep' 181.81818180000002 23.46641 ... 4.85229 0.0 0.0]
 ['Deep' 303.030303 23.40411 ... 6.3611699999999995 0.0 4.486605]
 ['Shallow' 24.24242424 23.38428 ... 4.90032 0.0 3.11269]]

In [8]:
y=pd.DataFrame(data)
y

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,Shallow,24.2424,23.5174,90.8642,6.72,NaN,-96,NaN,NaN,1416,...,0.714188,12.5134,26.7699,0.24542,49.1848,0,13.6364,3.727,0,3.4724
1,Deep,181.818,23.5439,90.839,6.74,6.56896,-33,-6.91509,0,465,...,0.215477,26.2947,56.2523,0.160439,79.1081,0,0,4.2555,0,2.7421
2,Deep,242.424,23.5282,90.8296,6.73,6.56896,-19,-6.91509,0,496,...,0.73666,29.2443,62.5623,0.221085,51.7614,0,0,3.3989,0,0
3,Deep,303.03,23.5256,90.8459,6.72,6.56896,-25,-6.91509,0,761,...,5.17371,23.5847,50.4547,0.376509,43.7514,0,1.2759,154.386,0,0
4,Shallow,84.8485,23.5433,90.7868,6.72,6.56896,17,-6.91509,0,1261,...,0.540185,14.1276,30.2232,0.67616,69.2219,0,1.7589,3.1335,0,6.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Shallow,60.6061,23.4075,91.2282,6.7,6.56896,14.3,-6.91509,0,205,...,0.162012,26.7523,57.2312,0.0940976,9.1297,0,1.11384,0.453914,0,0
156,Shallow,106.061,23.4575,91.2056,6.62,6.56896,17.9,-6.91509,0,250,...,0.018,26.7839,57.2988,0.130796,15.9558,0,0.666507,1.99891,0,0
157,Deep,181.818,23.4664,91.221,6.6,6.56896,24.8,-6.91509,0,194.4,...,0.479821,33.3992,71.4509,0.129186,526.957,0,0.939129,4.85229,0,0
158,Deep,303.03,23.4041,91.1715,6.83,6.56896,21.2,-6.91509,0,165.8,...,2.07516,31.5629,67.5225,0.0952067,116.796,0,2.63501,6.36117,0,4.4866
159,Shallow,24.2424,23.3843,91.159,6.53,6.56896,26.8,-6.91509,0,189.5,...,1.131,24.018,51.3817,0.10292,116.266,0,1.35031,4.90032,0,3.11269

In [9]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 42 columns):
0     160 non-null object
1     160 non-null object
2     160 non-null object
3     160 non-null object
4     160 non-null object
5     159 non-null object
6     160 non-null object
7     159 non-null object
8     159 non-null object
9     160 non-null object
10    160 non-null object
11    160 non-null object
12    160 non-null object
13    160 non-null object
14    160 non-null object
15    160 non-null object
16    160 non-null object
17    160 non-null object
18    160 non-null object
19    160 non-null object
20    160 non-null object
21    160 non-null object
22    159 non-null object
23    159 non-null object
24    160 non-null object
25    160 non-null object
26    160 non-null object
27    160 non-null object
28    160 non-null object
29    160 non-null object
30    160 non-null object
31    160 non-null object
32    160 non-null object
33    160 non-null object
34    160 non-null object
35    160 non-null object
36    160 non-null object
37    160 non-null object
38    160 non-null object
39    160 non-null object
40    160 non-null object
41    160 non-null object
dtypes: object(42)
memory usage: 52.6+ KB

In [11]:
y.to_csv('C:/Users/User/Downloads/GWS_data_p_modified.csv')